.navbar {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 134, 205);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}
.shopTitle a {
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
}
.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: white;
  /* margin-right: 10px; */
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 430px) {
  .navbar{
    justify-content: space-between;

  }
  .shopTitle a {
    font-size: 20px;
    margin-left: 10px;
  }
  .links {
    gap: 5px;
  }
  .links a {
    margin-left: 20px;
    font-size: 17px;
    font-weight: normal;
  }
}
